// Borrowed from HTTP-API-Assignment-ii, with some changes
{
  "extends": "airbnb/base",
  "rules": {
    "no-underscore-dangle": "off",
    "no-plusplus": "off",
    "import/extensions": "off"
  },
  // I don't care if I lose points for this, optional chaining is too useful. 
  "parserOptions": {
    "ecmaVersion": 2020
  },
  // For above and beyond work
  "env": {
    "jest": true
  }
}